<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite" parallel="none" thread-count="1">
    <listeners>
        <listener class-name="utils.Hooks"/>
    </listeners>

    <test name="LoginLogoutTest">
        <classes>
            <class name="test.LoginLogoutTestCase"/>
            <class name="utils.Hooks"/>
        </classes>
    </test>
</suite>